django==3.1.2
environs[django]==8.0.0
pillow==8.0.0
rollbar==0.15.1
python-telegram-bot==12.5.1
gunicorn==20.*
phonenumbers==8.*
django-admin-shortcuts==2.0.0
django-storages==1.10.*
boto3==1.16.*
psycopg2==2.*
whitenoise==5.*
django-import-export==2.4.0
djangorestframework==3.12.2
django-debug-toolbar==3.1.1
